.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/PomodoroWebsite.iml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
1.bat
2.bat
3.bat
*.json
